/*设置通用样式*/
body, html {
    font-family: "Helvetica", "PingFangSC-Regular", "Arial", "Times New Roman", "微软雅黑", "Microsoft YaHei", sans-serif;
    color: #000;
    font-size: 14px;
    letter-spacing: 0;
    width:100%;
    min-width: 320px;
    min-height: 100%;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#000;
    cursor: pointer;
    text-decoration:none;
}
a:hover{
    color: #000;
    text-decoration: inherit;
}
img{
    vertical-align:middle;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.lf { float:left;}
.rt { float:right;}

div.main{
    width:960px;
    margin:0 auto;
}

iframe{
    width:960px;
}
.fixed_nav{
    background: #F5F5F5;
    position:fixed;
    z-index: 6;
    top:0;
    left:0;
    right: 0;
    width: 1000px;
    height:60px;
    background: #F5F5F5;
    transition: all 0.1s;
    padding: 5px;
    margin:0 auto;

}
.icon{
    vertical-align: middle;
}
